.position__header {
    padding: 28px 48px 0px;
}

@media screen and (max-width: 1023px) {
    .position__header {
        padding: 28px 24px 0px;
    }
    
}

@media screen and (max-width: 767px) {
    .position__header {
        padding: 16px 16px 16px;
    }
    
}