.position__footer {
    padding: 92px 48px 24px;
}

@media screen and (max-width: 1023px) {
    .position__footer {
    padding: 0;
    margin: 64px auto 24px;
    }
}

@media screen and (max-width: 767px){
    .position__footer {
        margin: 64px 118px 24px 16px;
    }
    
}